.ql-align-right {
  text-align: right !important;
}
.ql-align-left {
  text-align: left !important;
}
.ql-align-center {
  text-align: center !important;
}
.ql-toolbar {
  top: 0px;
  position: sticky;
  background-color: #fff;
  z-index: 100;
  border-left: none !important;
  border-right: none !important;
}
p {
  margin: 0rem !important;
}
