/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    font-size: 15px;
    width: 4rem;
    text-decoration: none;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    padding: 0.1rem 0.5rem !important;
} */
