.container-fluid {
    --height: 2.25rem;
    --btn-line-height: 2rem;
    --line-height: 1.5625rem;
}
select,
input[type="text"] {
    height: var(--height) !important;
    line-height: var(--line-height) !important;
}
.btn {
    min-width: 4.375rem !important;
    padding: 4px 16px;
    vertical-align: middle;
}
label {
    margin: 0px !important;
}
.btn-link {
    text-decoration: none;
}
.badge {
    font-weight: normal;
}
.card-title {
    overflow: hidden !important;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-group-item {
    border: none !important;
}

.list-group-item.active {
    background-color: #eeeeee !important;
    color: black !important;
}
.list-group-item.active::before {
    content: "";
}
.btn {
    border: 1px lightgray solid !important;
}

.btn:hover {
    color: #1890ff !important;
    background-color: #fafafa !important;
    border: 1px #1890ff solid !important;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    font-size: 15px;
    width: 4rem;
    text-decoration: none;
}

.dropdown-toggle::after {
    content: none;
}

.nav-link {
    padding: 0.1rem 0.3rem !important;
}

.dropdown-item {
    padding: 6px 10px !important;
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.85);
}

.dropdown-menu {
    margin-top: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
        0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-top: 1px rgb(233, 233, 233) solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
